<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Atendimento 24 horas</ion-list-header>
    <ion-item>
      <ion-icon name="call" slot="start"></ion-icon>
      <a href="tel:+351225512100">+351 225 512 100</a>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <a href="mailto:geral@chsj.min-saude.pt">geral@chsj.min-saude.pt</a>
    </ion-item>
  </ion-list>
</ion-content>
