<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Localização</ion-title>
    </ion-toolbar>
    <ion-toolbar color="primary">
      <ion-segment [(ngModel)]="polo">
        <ion-segment-button value="saojoao">
          Polo São João
        </ion-segment-button>
        <ion-segment-button value="valongo">
          Polo Valongo
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  
  </ion-header>
  <ion-content>
    <iframe *ngIf="polo === 'saojoao'" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3002.8538737054573!2d-8.602908783727676!3d41.18135427928368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd246438ea229653%3A0x929a84fb4050ffbd!2sCentro+Hospitalar+S%C3%A3o+Jo%C3%A3o!5e0!3m2!1spt-PT!2spt!4v1532538276897"
      allowfullscreen></iframe>
    <iframe *ngIf="polo === 'valongo'" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1648.5690525125658!2d-8.499837661118525!3d41.186821655745014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd24626cd912a7c7%3A0xb642a71cc914b409!2sHospital+Valongo!5e0!3m2!1spt-PT!2spt!4v1532593952844"
      allowfullscreen></iframe>
  </ion-content>
